.h2-title {
    font-size: 40px;
    font-weight: 700;
    color: whitesmoke;
}

.all-centered {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}
