$background-image: url(http://wallpapercave.com/wp/UoQbFHi.jpg);
$font-stack: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;

body {
    background: $background-image no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    color: whitesmoke;
    font-family: $font-stack;
}
