header {
    width: 100%;
    position: fixed;
    z-index: 100;
}

.header-light-theme {
    background: rgba(255, 255, 255, 0.8);
}

.header-dark-theme {
    background: rgba(0, 0, 0, 0.8);
}

nav {
    float:left;
    width: 100%;

    ul {
        list-style: none;
        overflow: hidden; 
        margin: 0px;
        padding-right: 40px;

        li {
            float: left;
            font-size: 20px;

            a {
                display: block;
                padding: 10px;
                color: blue;
                text-decoration: none;

                &:hover {
                    background-color:darkblue;
                    color: deepskyblue;
                }
            }
        }

        .navBar-right {
            float: right;
            font-size: 20px;
            padding: 4px;

            button {
                background-color: transparent;
                border-radius: 10px;
                padding: 4px;
                padding-left: 10px;
                padding-right: 10px;
                border: 2px solid blue;
                color: blue;
            }

            .logout-button {
                &:Hover {
                    background-color: blue;
                    border-color: blue;
                }
            }

            .button-dark {
                background: black;
                
                &:Hover {
                    color: deepskyblue;
                    border-color: deepskyblue;
                }
            }
            
            .button-light {
                background: white;
                
                &:Hover {
                    color: darkblue;
                    border-color: darkblue;
                    background: whitesmoke;
                }
            }
        }
    }
}

main {
    padding: 60px;

    .container {
        height: 80vh;
    }
}
