header {
    background: rgba(0,0,0,0.8);
    width: 100%;
    position: fixed;
    z-index: 100;
}

nav {
    float: left;

    ul {
        list-style: none;
        overflow: hidden; 
        margin: 0px;

        li {
            float: left;
            font-size: 20px;

            a {
                display: block;
                padding: 10px;
                color: #004cff;
                text-decoration: none;
            }
        }

        li:hover {
            background: rgb(165, 163, 163);
            color: #fff;
        }
    }
}

main {
    padding: 60px;

    .container {
        height: 80vh;
    }
}